
# https://docs.mapbox.com/help/getting-started/
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=

# https://clerk.com/docs/quickstarts/nextjs
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
# https://clerk.com/docs/webhooks/sync-data
CLERK_WEBHOOK_SIGNING_SECRET=


# https://neon.com/docs/guides/prisma#use-connection-pooling-with-prisma
DATABASE_URL=
DIRECT_URL=

# https://dashboard.ngrok.com/
NGROK_URL=