{
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/config/(.*)$",
    "^@/constants/(.*)$",
    "^@/db/(.*)$",
    "^@/lib/(.*)$",
    "^@/helpers/(.*)$",
    "^@/providers/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@/schemas/(.*)$",
    "^@/types/(.*)$",
    "",
    "^[./]"
  ]
}
